{
  "openapi": "3.1.0",
  "info": {
    "title": "InsightSocial API",
    "version": "1.0.0",
    "description": "Public social data from 9 platforms through one key and one credit balance."
  },
  "servers": [
    {
      "url": "https://api.insightsocial.app"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "account"
    },
    {
      "name": "instagram"
    },
    {
      "name": "tiktok"
    },
    {
      "name": "facebook"
    },
    {
      "name": "linkedin"
    },
    {
      "name": "twitter"
    },
    {
      "name": "threads"
    },
    {
      "name": "youtube"
    },
    {
      "name": "reddit"
    },
    {
      "name": "pinterest"
    }
  ],
  "paths": {
    "/v1/facebook/profile": {
      "get": {
        "operationId": "facebook_profile",
        "summary": "Profile",
        "description": "Returns a Facebook page's public profile: page id, display name, profile image, bio, follower count, and page-like count.\n\nUse it when you have a page URL and want a quick snapshot before pulling that page's posts, photos, or reels.\n\n**20 credits** per call.",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Full URL of the Facebook page or profile",
            "schema": {
              "type": "string",
              "example": "https://www.facebook.com/Meta"
            }
          },
          {
            "name": "get_business_hours",
            "in": "query",
            "required": false,
            "description": "Get the business's hours",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credits": 20,
        "x-group": "Profile",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/facebook/profile/posts": {
      "get": {
        "operationId": "facebook_profile_posts",
        "summary": "Profile › Posts",
        "description": "Returns recent posts from a Facebook page or profile, each with the post text, like and comment counts, the per-reaction breakdown, media, and publish time. Share counts are null on a plain call.\n\nUse it to pull a page's recent content by url or pageId. The optional include=engagement fills each row's share count, and a reel's exact views and duration, in the same call.\n\n**Metered: 20–80 credits.** We reserve the ceiling when the call starts and charge what it actually used when it finishes.\n\nPaginates by `cursor`: see [Pagination](/docs/pagination).",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Full URL of the Facebook page or profile to fetch posts for. Provide at least one of: `url`, `pageId`.",
            "schema": {
              "type": "string",
              "example": "https://www.facebook.com/Meta"
            }
          },
          {
            "name": "pageId",
            "in": "query",
            "required": false,
            "description": "Facebook profile page id. Provide at least one of: `url`, `pageId`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Only posts published on or after this date: YYYY-MM-DD (midnight UTC) or an ISO 8601 timestamp. Older posts are left off the page, and the page that reaches one ends the walk: `next_cursor` is not returned and `pagination.stopped_at` is `since`. Pinned posts sit out of date order and never end the walk. The page still costs what a page costs, so a daily poll pays for the pages it walks and no more.",
            "schema": {
              "type": "string",
              "example": "2026-09-01"
            }
          },
          {
            "name": "stop_at_id",
            "in": "query",
            "required": false,
            "description": "The id (`post.id`) or URL (`post.url`) of the newest post you already hold. The page stops just before it: that post and everything after it are left off, `next_cursor` is not returned, and `pagination.stopped_at` is `known_id`. A pinned post never counts as the stop point. If it is not on this page the page is returned in full with its cursor, so keep walking. `pagination.stopped_at` is `end` when the list ran out first and `null` while there is more to walk.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "To paginate through the posts",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Set to `engagement` (one token only) to fill `post.engagement.shares` on every row, and `post.engagement.views` and `post.content.duration_seconds` on reels, in this one call. A row that links to an event rather than a post is not looked up. Without it the call is unchanged.",
            "schema": {
              "type": "string",
              "enum": [
                "engagement"
              ]
            }
          },
          {
            "name": "recent_days",
            "in": "query",
            "required": false,
            "description": "Keep only posts published in the last N days (1 to 3650) and stop pagination once a page reaches older posts. Does not change the price of a page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 3650
            }
          }
        ],
        "x-credits": {
          "min": 20,
          "max": 80
        },
        "x-group": "Profile",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/facebook/post": {
      "get": {
        "operationId": "facebook_post",
        "summary": "Post",
        "description": "Returns one Facebook post in full: the post text, like, comment and share counts, a reactions breakdown, media attachments, and author info.\n\nUse it when you have a single post URL and need more than profile/posts gives, such as the reactions breakdown.\n\n**20 credits** per call.",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Full URL of the Facebook post",
            "schema": {
              "type": "string",
              "example": "https://www.facebook.com/Meta/posts/pfbid0kPiRpqdc4HcL5ZMP6ANbkTWvjKYTs1hGKdZwHbYjTo4SNX8hM2UvjQmHBjq4r3cvl"
            }
          },
          {
            "name": "get_comments",
            "in": "query",
            "required": false,
            "description": "Accepted for backwards compatibility and currently a NO-OP: this endpoint returns the same body with or without it.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "get_transcript",
            "in": "query",
            "required": false,
            "description": "Accepted for backwards compatibility and currently a NO-OP: this endpoint returns the same body with or without it. Use `/v1/facebook/post/transcript` for a video transcript.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "x-credits": 20,
        "x-group": "Post",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/facebook/post/comments": {
      "get": {
        "operationId": "facebook_post_comments",
        "summary": "Post › Comments",
        "description": "Returns comments on a Facebook post, each with the commenter's name, comment text, like count, reply count, and creation time.\n\nUse it to read a post's discussion; it also returns the feedback_id and expansion_token that post/comment/replies needs.\n\n**Metered: 20–100 credits.** We reserve the ceiling when the call starts and charge what it actually used when it finishes.\n\nPaginates by `cursor`: see [Pagination](/docs/pagination).",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Full URL of the Facebook post to fetch comments for. Provide at least one of: `url`, `feedback_id`.",
            "schema": {
              "type": "string",
              "example": "https://www.facebook.com/Meta/videos/a-slightly-life-changing-story/1459847961114516/"
            }
          },
          {
            "name": "feedback_id",
            "in": "query",
            "required": false,
            "description": "Using feedback_id (instead of url) will *really* speed up the request. You can get the feedback_id when you make a request to /v1/facebook/post. Provide at least one of: `url`, `feedback_id`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor to get more comments. Get 'cursor' from previous response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "label",
            "in": "query",
            "required": false,
            "description": "Optional CSV of labels to add to every comment: sentiment, spam, question, purchase_intent, complaint, toxic, low_quality, injection. Without this param every page already carries sentiment, question, purchase_intent and complaint, free; label= adds the labels you name to them (the defaults keep running). Each comment gains computed.labels with probabilities (0 to 1), so you choose the cut-off; a comment that could not be judged carries labels: null. injection flags text that addresses an AI system and tries to direct it (flagged, p); it never drops or rewrites a row. judgments=off (or label=none) turns the default labels off. data.labels reports what was judged and billed.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude",
            "in": "query",
            "required": false,
            "description": "Optional CSV (spam, low_quality), only with the same preset in label. Drops comments whose probability is 0.8 or higher and lists their ids in data.labels.dropped_ids. A comment that could not be judged is never dropped.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "judgments",
            "in": "query",
            "required": false,
            "description": "Optional, on (the default) or off. By default every row gains free judgments (computed.labels, and computed.relevance on search endpoints), reported in data.labels (mode default) and data.relevance (origin default), each with a status (complete, partial or skipped) and pending: the rows still being judged when the page was sent, which carry null now and are filled on your next call or cached read. Default judgments never add credits, never change an existing field, and never drop or reorder a row. off returns the page exactly as before, with none of those keys. label=none does the same.",
            "schema": {
              "type": "string",
              "enum": [
                "on",
                "off"
              ]
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Optional. data.estimate reports rows_expected, rows_cached, label_credits_min, label_credits_max and base_credits. 0 credits charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          },
          {
            "name": "label_evidence",
            "in": "query",
            "required": false,
            "description": "Optional, only with label=. When 1, every labelled row also carries computed.labels_evidence.<preset> = { quote, sentence_index }: the sentence in the row that most clearly shows the label, copied verbatim. Absent or null when no single sentence shows it.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          },
          {
            "name": "fit",
            "in": "query",
            "required": false,
            "description": "Optional. When goal, keep the rows and fields needed for the goal you pass in goal= (plus any that are uncertain, and the first and last), and replace the rest with a stub. data.held_back lists the held ids and a recall id that re-reads the full page from cache. Without this param the page is unchanged.",
            "schema": {
              "type": "string",
              "enum": [
                "goal"
              ]
            }
          },
          {
            "name": "goal",
            "in": "query",
            "required": false,
            "description": "Required by fit=goal. What you are trying to do, in your own words, up to 300 characters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fit_tokens",
            "in": "query",
            "required": false,
            "description": "Optional, only with fit=goal. Soft cap on how much of the page to keep, in tokens. Uncertain blocks and the first and last block are kept even if they exceed it.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-credits": {
          "min": 20,
          "max": 100
        },
        "x-group": "Post",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/facebook/group/posts": {
      "get": {
        "operationId": "facebook_group_posts",
        "summary": "Group › Posts",
        "description": "Returns posts from a Facebook group, 3 to 4 per page, each with the post text, reaction count, comment count, the per-reaction breakdown, and author info.\n\nUse it for group content, since profile/posts covers pages only. Send next_cursor back as cursor for older posts. Share counts are not on this surface; read one with post.\n\n**20 credits** per call.\n\nPaginates by `cursor`: see [Pagination](/docs/pagination).",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Full URL of the Facebook group. Provide at least one of: `url`, `group_id`.",
            "schema": {
              "type": "string",
              "example": "https://www.facebook.com/groups/2204685680"
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "required": false,
            "description": "The ID of the group. Provide at least one of: `url`, `group_id`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "How to sort the posts",
            "schema": {
              "type": "string",
              "enum": [
                "TOP_POSTS",
                "RECENT_ACTIVITY",
                "CHRONOLOGICAL",
                "CHRONOLOGICAL_LISTINGS"
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor to get the next page of posts. Take it from `pagination.next_cursor` on the previous response.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credits": 20,
        "x-group": "Group",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/facebook/group": {
      "get": {
        "operationId": "facebook_group",
        "summary": "Group",
        "description": "Returns a Facebook group's public record: name, description, member count, privacy, visibility, and creation date.\n\nUse it to identify a group by URL or group_id before calling group/posts for the recent posts.\n\n**20 credits** per call.",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Full URL of the Facebook group. Provide at least one of: `url`, `group_id`.",
            "schema": {
              "type": "string",
              "example": "https://www.facebook.com/groups/2204685680"
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "required": false,
            "description": "Numeric Facebook group id. Provide at least one of: `url`, `group_id`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credits": 20,
        "x-group": "Group",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/facebook/post/transcript": {
      "get": {
        "operationId": "facebook_post_transcript",
        "summary": "Post › Transcript",
        "description": "Returns the spoken words of a Facebook video post as a transcript, using Facebook's auto-generated captions.\n\nUse it when you need what was said in a video; post returns the caption text and engagement but not the speech.\n\n**200 credits** per call.",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Full URL of the Facebook video post",
            "schema": {
              "type": "string",
              "example": "https://www.facebook.com/Meta/videos/a-slightly-life-changing-story/1459847961114516/"
            }
          }
        ],
        "x-credits": 200,
        "x-group": "Post",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/facebook/profile/photos": {
      "get": {
        "operationId": "facebook_profile_photos",
        "summary": "Profile › Photos",
        "description": "Returns a page or profile's photos, each with a photo id, permalink, full-size image URL, thumbnail, and accessibility caption when available.\n\nUse it for a page's photo gallery. The plain row carries no author, engagement or publish time, so add the optional include=details to fill them from each photo's own post in the same call.\n\n**Metered: 20–180 credits.** We reserve the ceiling when the call starts and charge what it actually used when it finishes.\n\nPaginates by `cursor`: see [Pagination](/docs/pagination).",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Full URL of the Facebook page or profile",
            "schema": {
              "type": "string",
              "example": "https://www.facebook.com/Meta"
            }
          },
          {
            "name": "next_page_id",
            "in": "query",
            "required": false,
            "description": "To paginate through to the next page",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Set to `details` (one token only) to fill `post.author.display_name`, `post.author.avatar_url`, `post.ext.author_id`, `post.engagement.likes`, `.comments` and `.shares`, and `post.published_at` on every photo in this one call. A photo inside a multi-photo post carries its own counts, not the post's. Without it the call is unchanged.",
            "schema": {
              "type": "string",
              "enum": [
                "details"
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "The `pagination.next_cursor` from the previous page, sent back unchanged. Omit it for the first page.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credits": {
          "min": 20,
          "max": 180
        },
        "x-group": "Profile",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/facebook/profile/reels": {
      "get": {
        "operationId": "facebook_profile_reels",
        "summary": "Profile › Reels",
        "description": "Returns a page or profile's reels, each with a reel id, description, thumbnail, permalink, publish time, and a rounded public view count.\n\nUse it for a cheap reel listing; when you need exact views plus likes, comments, and shares, use profile/reels/full instead.\n\n**20 credits** per call.\n\nPaginates by `cursor`: see [Pagination](/docs/pagination).",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Full URL of the Facebook page or profile",
            "schema": {
              "type": "string",
              "example": "https://www.facebook.com/Meta"
            }
          },
          {
            "name": "next_page_id",
            "in": "query",
            "required": false,
            "description": "To paginate through to the next page",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recent_days",
            "in": "query",
            "required": false,
            "description": "Keep only reels published in the last N days (1 to 3650) and stop pagination once a page reaches older reels. Does not change the price of a page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 3650
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "The `pagination.next_cursor` from the previous page, sent back unchanged. Omit it for the first page.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credits": 20,
        "x-group": "Profile",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/facebook/adlibrary/ad": {
      "get": {
        "operationId": "facebook_adlibrary_ad",
        "summary": "Adlibrary › Ad",
        "description": "Returns one ad from the Facebook Ad Library: creative, CTA and link, run dates, display format, and the advertiser's page URL, likes and categories.\n\nUse it when you have an ad id or URL. Spend and reach are political-ads-only, and Facebook publishes no per-ad impression count.\n\n**100 credits** per call.",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Facebook Ad Library ad ID. Ad ids rotate as campaigns end, so take a current one from `/v1/facebook/adlibrary/company/ads` or `/v1/facebook/adlibrary/search/ads` rather than reusing an old one. Provide at least one of: `id`, `url`.",
            "schema": {
              "type": "string",
              "example": "1702938977100376"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Facebook Ad Library URL for the ad (`https://www.facebook.com/ads/library?id=...`). A page URL is rejected with a 400. Provide at least one of: `id`, `url`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trim",
            "in": "query",
            "required": false,
            "description": "Set to true for a trimmed down version of the response",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "x-credits": 100,
        "x-group": "Adlibrary",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/facebook/adlibrary/company/ads": {
      "get": {
        "operationId": "facebook_adlibrary_company_ads",
        "summary": "Adlibrary › Company › Ads",
        "description": "Returns the ads one company or page is running in the Facebook Ad Library, each with its creative, status, spend, and targeting info.\n\nUse it when you know the advertiser by pageId or company name; to find ads by keyword across advertisers, use adlibrary/search/ads.\n\n**100 credits** per call.\n\nPaginates by `cursor`: see [Pagination](/docs/pagination).",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "pageId",
            "in": "query",
            "required": false,
            "description": "Facebook page ID of the advertiser. Provide at least one of: `pageId`, `companyName`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyName",
            "in": "query",
            "required": false,
            "description": "The name of the company. Can either use this or pageId. Provide at least one of: `pageId`, `companyName`.",
            "schema": {
              "type": "string",
              "example": "Lululemon"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "This can only be one country. It has to be the 2 letter code for the country. It defaults to ALL.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status of the ad. Defaults to ACTIVE.",
            "schema": {
              "type": "string",
              "enum": [
                "ALL",
                "ACTIVE",
                "INACTIVE"
              ]
            }
          },
          {
            "name": "media_type",
            "in": "query",
            "required": false,
            "description": "Media type of the ad. Defaults to ALL. Meme refers to ads with image and text. Not sure why they call it meme.",
            "schema": {
              "type": "string",
              "enum": [
                "ALL",
                "IMAGE",
                "VIDEO",
                "MEME",
                "IMAGE_AND_MEME",
                "NONE"
              ]
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Language to filter ads on. Needs to be 2 letter language code, ie EN, ES, FR, etc",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Sort by impressions (high to low), or Most Recent (relevancy_monthly_grouped). Defaults to impressions.",
            "schema": {
              "type": "string",
              "enum": [
                "total_impressions",
                "relevancy_monthly_grouped"
              ]
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start date to search for. Format: YYYY-MM-DD",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End date to search for. Format: YYYY-MM-DD",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor to paginate through results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trim",
            "in": "query",
            "required": false,
            "description": "Set to true for a trimmed down version of the response",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "x-credits": 100,
        "x-group": "Adlibrary",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/facebook/adlibrary/search/ads": {
      "get": {
        "operationId": "facebook_adlibrary_search_ads",
        "summary": "Adlibrary › Search › Ads",
        "description": "Returns Facebook Ad Library ads matching a keyword, each with its creative text, images, sponsor info, and running status.\n\nUse it to find ads across all advertisers by keyword; if you already know the advertiser, adlibrary/company/ads is more direct.\n\n**100 credits** per call.\n\nPaginates by `cursor`: see [Pagination](/docs/pagination).",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search keyword or phrase to find ads in the Facebook Ad Library",
            "schema": {
              "type": "string",
              "example": "artificial intelligence"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Sort by impressions (high to low), or Most Recent (relevancy_monthly_grouped). Defaults to impressions.",
            "schema": {
              "type": "string",
              "enum": [
                "total_impressions",
                "relevancy_monthly_grouped"
              ]
            }
          },
          {
            "name": "search_type",
            "in": "query",
            "required": false,
            "description": "If you want to search by exact phrase or not",
            "schema": {
              "type": "string",
              "enum": [
                "keyword_unordered",
                "keyword_exact_phrase"
              ]
            }
          },
          {
            "name": "ad_type",
            "in": "query",
            "required": false,
            "description": "Search for all ads or only political and issue ads",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "political_and_issue_ads"
              ]
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "This can only be one country. It has to be the 2 letter code for the country. It defaults to ALL.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status of the ad. Defaults to ACTIVE.",
            "schema": {
              "type": "string",
              "enum": [
                "ALL",
                "ACTIVE",
                "INACTIVE"
              ]
            }
          },
          {
            "name": "media_type",
            "in": "query",
            "required": false,
            "description": "Media type of the ad. Defaults to ALL. Meme just means the ad has text and an image. No clue why they call it meme.",
            "schema": {
              "type": "string",
              "enum": [
                "ALL",
                "IMAGE",
                "VIDEO",
                "MEME",
                "IMAGE_AND_MEME",
                "NONE"
              ]
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Impressions start date. Needs to be in YYYY-MM-DD format.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "Impressions end date. Needs to be in YYYY-MM-DD format.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor to paginate through results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trim",
            "in": "query",
            "required": false,
            "description": "Set to true for a trimmed down version of the response",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "x-credits": 100,
        "x-group": "Adlibrary",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/facebook/adlibrary/search/companies": {
      "get": {
        "operationId": "facebook_adlibrary_search_companies",
        "summary": "Adlibrary › Search › Companies",
        "description": "Returns advertiser pages in the Facebook Ad Library matching a name, each with its page id, name, handle, verification badge and follower count.\n\nUse it to find an advertiser's pageId first, then pass that pageId to adlibrary/company/ads, which is also where you count their ads.\n\n**100 credits** per call.",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search keyword or phrase to find companies in the Facebook Ad Library",
            "schema": {
              "type": "string",
              "example": "Nike"
            }
          }
        ],
        "x-credits": 100,
        "x-group": "Adlibrary",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/facebook/profile/events": {
      "get": {
        "operationId": "facebook_profile_events",
        "summary": "Profile › Events",
        "description": "Returns a Facebook page's upcoming and past events, each with a title, link, the start time, the venue, the city, the rendered time line, and the cancelled, past and online flags.\n\nUse it for one page's own events; events covers a city. The start time sits on published_at and is often in the future. Optional include=details adds the description, hosts, cover and RSVP counts.\n\n**Metered: 20–180 credits.** We reserve the ceiling when the call starts and charge what it actually used when it finishes.\n\nPaginates by `cursor`: see [Pagination](/docs/pagination).",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Full URL of the public Facebook page.",
            "schema": {
              "type": "string",
              "example": "https://www.facebook.com/brickyardoldtown"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor returned by the previous response for pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Set to `details` (one token only) to fill, on every event in this one call, `post.ext.event.description`, `address`, `latitude`, `longitude`, `hosts`, `host_context_text`, `category`, `privacy`, `attendance_count`, `interested_count` and `going_count`, the cover image on `post.content.thumbnail_url`, and the RSVP counts on `post.engagement.views` (interested) and `.likes` (going). Without it the call is unchanged.",
            "schema": {
              "type": "string",
              "enum": [
                "details"
              ]
            }
          }
        ],
        "x-credits": {
          "min": 20,
          "max": 180
        },
        "x-group": "Profile",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/facebook/post/comment/replies": {
      "get": {
        "operationId": "facebook_post_comment_replies",
        "summary": "Post › Comment › Replies",
        "description": "Returns the replies under a single Facebook comment, each with the author name, reply text, like count, and creation time.\n\nUse it after post/comments: pass that response's feedback_id and expansion_token, which are not the comment id.\n\n**Metered: 20–100 credits.** We reserve the ceiling when the call starts and charge what it actually used when it finishes.\n\nPaginates by `cursor`: see [Pagination](/docs/pagination).",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "feedback_id",
            "in": "query",
            "required": true,
            "description": "`feedback_id` from `/v1/facebook/post/comments` for the parent comment (this is NOT the comment ID).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expansion_token",
            "in": "query",
            "required": true,
            "description": "`expansion_token` from `/v1/facebook/post/comments` for the parent comment.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor returned by the previous response for pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "label",
            "in": "query",
            "required": false,
            "description": "Optional CSV of labels to add to every comment: sentiment, spam, question, purchase_intent, complaint, toxic, low_quality, injection. Without this param every page already carries sentiment, question, purchase_intent and complaint, free; label= adds the labels you name to them (the defaults keep running). Each comment gains computed.labels with probabilities (0 to 1), so you choose the cut-off; a comment that could not be judged carries labels: null. injection flags text that addresses an AI system and tries to direct it (flagged, p); it never drops or rewrites a row. judgments=off (or label=none) turns the default labels off. data.labels reports what was judged and billed.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude",
            "in": "query",
            "required": false,
            "description": "Optional CSV (spam, low_quality), only with the same preset in label. Drops comments whose probability is 0.8 or higher and lists their ids in data.labels.dropped_ids. A comment that could not be judged is never dropped.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "judgments",
            "in": "query",
            "required": false,
            "description": "Optional, on (the default) or off. By default every row gains free judgments (computed.labels, and computed.relevance on search endpoints), reported in data.labels (mode default) and data.relevance (origin default), each with a status (complete, partial or skipped) and pending: the rows still being judged when the page was sent, which carry null now and are filled on your next call or cached read. Default judgments never add credits, never change an existing field, and never drop or reorder a row. off returns the page exactly as before, with none of those keys. label=none does the same.",
            "schema": {
              "type": "string",
              "enum": [
                "on",
                "off"
              ]
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Optional. data.estimate reports rows_expected, rows_cached, label_credits_min, label_credits_max and base_credits. 0 credits charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          },
          {
            "name": "label_evidence",
            "in": "query",
            "required": false,
            "description": "Optional, only with label=. When 1, every labelled row also carries computed.labels_evidence.<preset> = { quote, sentence_index }: the sentence in the row that most clearly shows the label, copied verbatim. Absent or null when no single sentence shows it.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          },
          {
            "name": "fit",
            "in": "query",
            "required": false,
            "description": "Optional. When goal, keep the rows and fields needed for the goal you pass in goal= (plus any that are uncertain, and the first and last), and replace the rest with a stub. data.held_back lists the held ids and a recall id that re-reads the full page from cache. Without this param the page is unchanged.",
            "schema": {
              "type": "string",
              "enum": [
                "goal"
              ]
            }
          },
          {
            "name": "goal",
            "in": "query",
            "required": false,
            "description": "Required by fit=goal. What you are trying to do, in your own words, up to 300 characters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fit_tokens",
            "in": "query",
            "required": false,
            "description": "Optional, only with fit=goal. Soft cap on how much of the page to keep, in tokens. Uncertain blocks and the first and last block are kept even if they exceed it.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-credits": {
          "min": 20,
          "max": 100
        },
        "x-group": "Post",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/facebook/marketplace/location/search": {
      "get": {
        "operationId": "facebook_marketplace_location_search",
        "summary": "Marketplace › Location › Search",
        "description": "Returns Facebook Marketplace locations and cities matching a search term, each with its lat and lng coordinates.\n\nUse it first to turn a place name into coordinates, then pass those to marketplace/search.\n\n**20 credits** per call.",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Location search query (city or area name).",
            "schema": {
              "type": "string",
              "example": "Los Angeles"
            }
          }
        ],
        "x-credits": 20,
        "x-group": "Marketplace",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/facebook/marketplace/search": {
      "get": {
        "operationId": "facebook_marketplace_search",
        "summary": "Marketplace › Search",
        "description": "Returns Facebook Marketplace listings near a lat/lng, each with title, price, location, photo, delivery types, and sold or live flags.\n\nUse it to find listings in an area; get lat and lng from marketplace/location/search, and de-duplicate by listing id since ordering can shift.\n\n**20 credits** per call.\n\nPaginates by `cursor`: see [Pagination](/docs/pagination).",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search keyword (e.g., `bike`, `couch`).",
            "schema": {
              "type": "string",
              "example": "bike"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "description": "Latitude of the search location.",
            "schema": {
              "type": "string",
              "example": "40.7128"
            }
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "description": "Longitude of the search location.",
            "schema": {
              "type": "string",
              "example": "-74.0060"
            }
          },
          {
            "name": "radius_km",
            "in": "query",
            "required": false,
            "description": "Search radius in kilometers.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "min_price",
            "in": "query",
            "required": false,
            "description": "Minimum listing price.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "required": false,
            "description": "Maximum listing price.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of listings to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Sort order for results.",
            "schema": {
              "type": "string",
              "enum": [
                "suggested",
                "distance_ascend",
                "creation_time_descend",
                "price_ascend",
                "price_descend"
              ]
            }
          },
          {
            "name": "delivery_method",
            "in": "query",
            "required": false,
            "description": "Delivery filter: local pickup only, shipping only, or all.",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "local_pickup",
                "shipping"
              ]
            }
          },
          {
            "name": "condition",
            "in": "query",
            "required": false,
            "description": "Filter listings by item condition.",
            "schema": {
              "type": "string",
              "enum": [
                "new",
                "used_like_new",
                "used_good",
                "used_fair"
              ]
            }
          },
          {
            "name": "date_listed",
            "in": "query",
            "required": false,
            "description": "Filter by listing recency (relative window or numeric day count).",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "1",
                "7",
                "30",
                "last_24_hours",
                "last_7_days",
                "last_30_days"
              ]
            }
          },
          {
            "name": "availability",
            "in": "query",
            "required": false,
            "description": "Filter by listing status: `available`, `sold`, or `all`.",
            "schema": {
              "type": "string",
              "enum": [
                "available",
                "sold",
                "all"
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque pagination cursor returned by the previous response: forward as-is.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credits": 20,
        "x-group": "Marketplace",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/facebook/marketplace/item": {
      "get": {
        "operationId": "facebook_marketplace_item",
        "summary": "Marketplace › Item",
        "description": "Returns one Facebook Marketplace listing: title, description, price, location, condition, photos, seller, and availability flags.\n\nUse it after marketplace/search when you need one listing in full, by numeric id or Marketplace URL.\n\n**20 credits** per call.",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Facebook Marketplace item ID (numeric). Provide at least one of: `id`, `url`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Full URL of the Marketplace item. Provide at least one of: `id`, `url`.",
            "schema": {
              "type": "string",
              "example": "https://www.facebook.com/marketplace/item/1656586118821988/"
            }
          }
        ],
        "x-credits": 20,
        "x-group": "Marketplace",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/facebook/events/search": {
      "get": {
        "operationId": "facebook_events_search",
        "summary": "Events › Search",
        "description": "Returns public Facebook events matching a keyword, each with name, date sentence, venue, cover photo, interested and going counts, and online and past flags.\n\nUse it to find events by topic anywhere; filter on is_past yourself, since the directory also returns events that have already happened.\n\n**20 credits** per call.\n\nPaginates by `cursor`: see [Pagination](/docs/pagination).",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Event name or keyword to search for.",
            "schema": {
              "type": "string",
              "example": "dogs"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor returned by the previous response for pagination.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credits": 20,
        "x-group": "Events",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/facebook/events": {
      "get": {
        "operationId": "facebook_events",
        "summary": "Events",
        "description": "Returns the events listed on a Facebook city or region events page, each with a title, link, cover image, the start time, the venue, and the going and interested counts.\n\nUse it to see what is on in a place, optionally narrowed by a time filter; use profile/events for one page's own events. The optional include=details adds the description, address and hosts.\n\n**Metered: 20–260 credits.** We reserve the ceiling when the call starts and charge what it actually used when it finishes.\n\nPaginates by `cursor`: see [Pagination](/docs/pagination).",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Full URL of the city's Facebook Events page.",
            "schema": {
              "type": "string",
              "example": "https://www.facebook.com/events/explore/saint-petersburg-florida/111326725552547"
            }
          },
          {
            "name": "time",
            "in": "query",
            "required": false,
            "description": "Relative time window. Defaults to all time when omitted.",
            "schema": {
              "type": "string",
              "enum": [
                "today",
                "this_week",
                "next_week"
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor returned by the previous response for pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Set to `details` (one token only) to fill, on every event in this one call, `post.ext.event.description`, `address`, `city`, `latitude`, `longitude`, `hosts`, `host_context_text`, `category`, `privacy`, `is_canceled` and `attendance_count`, and the host credit on `post.author.display_name`. Without it the call is unchanged.",
            "schema": {
              "type": "string",
              "enum": [
                "details"
              ]
            }
          }
        ],
        "x-credits": {
          "min": 20,
          "max": 260
        },
        "x-group": "Events",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/facebook/event/details": {
      "get": {
        "operationId": "facebook_event_details",
        "summary": "Event › Details",
        "description": "Returns one Facebook event in full: title, description, start and end time, location, host, cover image, and RSVP counts when shown.\n\nUse it after events, events/search, or profile/events when a listing row is not enough, by event id or URL.\n\n**20 credits** per call.",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Facebook event ID (numeric). Provide at least one of: `id`, `url`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Full URL of the event. Provide at least one of: `id`, `url`.",
            "schema": {
              "type": "string",
              "example": "https://www.facebook.com/events/3819476484850108/"
            }
          }
        ],
        "x-credits": 20,
        "x-group": "Event",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/facebook/adlibrary/ad/transcript": {
      "get": {
        "operationId": "facebook_adlibrary_ad_transcript",
        "summary": "Adlibrary › Ad › Transcript",
        "description": "Returns the spoken words of a Facebook Ad Library video ad, from Facebook's captions when available or transcribed from the video itself.\n\nUse it when you need what an ad says out loud; adlibrary/ad returns the creative and spend but not the speech.\n\n**200 credits** per call.",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Facebook Ad Library ad ID. Ad ids rotate as campaigns end, so take a current one from `/v1/facebook/adlibrary/company/ads` rather than reusing an old one. Provide at least one of: `id`, `url`.",
            "schema": {
              "type": "string",
              "example": "1702938977100376"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Facebook Ad Library URL for the ad. A page URL is rejected with a 400. Provide at least one of: `id`, `url`.",
            "schema": {
              "type": "string",
              "example": "https://www.facebook.com/ads/library?id=1702938977100376"
            }
          }
        ],
        "x-credits": 200,
        "x-group": "Adlibrary",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/facebook/profile/full": {
      "get": {
        "operationId": "facebook_profile_full",
        "summary": "Profile › Full",
        "description": "Returns a page's profile plus its latest 3 posts and computed figures: engagement rate by views and by followers, posting cadence, top post, and format mix.\n\nUse it instead of calling profile and profile/posts yourself; the profile still comes back even if the posts part fails.\n\n**100 credits** per call.\n\nPaginates by `cursor`: see [Pagination](/docs/pagination).",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Full Facebook profile or page URL. One of the identity params is required.",
            "schema": {
              "type": "string",
              "example": "https://www.facebook.com/mrbeast"
            }
          },
          {
            "name": "posts",
            "in": "query",
            "required": false,
            "description": "How many of the fetched recent posts to return and compute the metrics over (1-100, default 25). One call reads one page, which on Facebook is 3 posts, so a larger value returns that page and a `_warnings` note; pass posts_cursor back as cursor for the next page.",
            "schema": {
              "type": "integer",
              "example": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pass a prior response's posts_cursor to read the next page of posts.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "CSV subset of posts,computed (default both). include=computed omits the raw posts[] array from the response to save payload. The metrics are computed from the same fetched posts either way, so they do not change.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credits": 100,
        "x-group": "Profile",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/facebook/profile/reels/full": {
      "get": {
        "operationId": "facebook_profile_reels_full",
        "summary": "Profile › Reels › Full",
        "description": "Returns a page's reels with exact per-reel engagement merged in: views, likes, comments, and shares, plus each reel's id, thumbnail, and link.\n\nUse it instead of profile/reels when the numbers matter, since that list carries only a rounded view count and no likes or comments.\n\n**Metered: 100–500 credits.** We reserve the ceiling when the call starts and charge what it actually used when it finishes.\n\nPaginates by `cursor`: see [Pagination](/docs/pagination).",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Full URL of the Facebook page or profile",
            "schema": {
              "type": "string",
              "example": "https://www.facebook.com/Meta"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor from a prior response's next_cursor to page deeper.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Return up to this many reels in one call (1-50). The endpoint pages the underlying list server-side until it has collected this many (or runs out), and bills per page read. If the walk hits the internal time budget first, the response carries `_warnings: [\"walk_deadline_reached\"]`, unfetched pages are refunded, and `next_cursor` resumes where it stopped. Omit for a single page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-credits": {
          "min": 100,
          "max": 500
        },
        "x-group": "Profile",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/facebook/search/posts": {
      "get": {
        "operationId": "facebook_search_posts",
        "summary": "Search › Posts",
        "description": "Returns public Facebook posts matching a keyword, each with text, permalink, publish time, like count, comment count, and author.\n\nUse it when you have a phrase, not a page URL. recent_posts=true ranks by recency; start_date and end_date bound the window.\n\n**Metered: 20–180 credits.** We reserve the ceiling when the call starts and charge what it actually used when it finishes.\n\nPaginates by `cursor`: see [Pagination](/docs/pagination).",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Keyword or phrase to search for.",
            "schema": {
              "type": "string",
              "example": "NASA"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor from the previous response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Include posts on or after this date (YYYY-MM-DD).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "Include posts on or before this date (YYYY-MM-DD).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recent_posts",
            "in": "query",
            "required": false,
            "description": "When true, rank by recency instead of relevance.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "location_uid",
            "in": "query",
            "required": false,
            "description": "Facebook location id to scope the search.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "relevance",
            "in": "query",
            "required": false,
            "description": "Optional. Without this param every row already carries computed.relevance against your query, free ({ p, sense, depth, spam }: is this row about what your query means, or a different thing that shares its words?), and nothing is dropped or reordered. score asks for it explicitly and waits for every row; filter also drops the rows that are not about your query, and lists their ids in data.relevance.dropped_ids. Your query is the topic; nothing to configure. A row that could not be judged is never dropped and carries relevance: null. Pagination is unchanged, so a filtered page can hold fewer rows.",
            "schema": {
              "type": "string",
              "enum": [
                "score",
                "filter"
              ]
            }
          },
          {
            "name": "relevance_threshold",
            "in": "query",
            "required": false,
            "description": "Optional, only with relevance. The probability (0 to 1) a row must reach to be kept by relevance=filter. Default 0.5. Lower keeps more rows, higher keeps fewer.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "relevant_to",
            "in": "query",
            "required": false,
            "description": "Optional, only with relevance. Up to 200 characters describing what you mean, used as the topic instead of the query. Use it when the query is ambiguous, for example query=cleopatra with relevant_to=Cleopatra, the IGT slot game.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "judgments",
            "in": "query",
            "required": false,
            "description": "Optional, on (the default) or off. By default every row gains free judgments (computed.labels, and computed.relevance on search endpoints), reported in data.labels (mode default) and data.relevance (origin default), each with a status (complete, partial or skipped) and pending: the rows still being judged when the page was sent, which carry null now and are filled on your next call or cached read. Default judgments never add credits, never change an existing field, and never drop or reorder a row. off returns the page exactly as before, with none of those keys. label=none does the same.",
            "schema": {
              "type": "string",
              "enum": [
                "on",
                "off"
              ]
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Optional. data.estimate reports rows_expected, rows_cached, label_credits_min, label_credits_max and base_credits. 0 credits charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          },
          {
            "name": "fit",
            "in": "query",
            "required": false,
            "description": "Optional. When goal, keep the rows and fields needed for the goal you pass in goal= (plus any that are uncertain, and the first and last), and replace the rest with a stub. data.held_back lists the held ids and a recall id that re-reads the full page from cache. Without this param the page is unchanged.",
            "schema": {
              "type": "string",
              "enum": [
                "goal"
              ]
            }
          },
          {
            "name": "goal",
            "in": "query",
            "required": false,
            "description": "Required by fit=goal. What you are trying to do, in your own words, up to 300 characters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fit_tokens",
            "in": "query",
            "required": false,
            "description": "Optional, only with fit=goal. Soft cap on how much of the page to keep, in tokens. Uncertain blocks and the first and last block are kept even if they exceed it.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "label",
            "in": "query",
            "required": false,
            "description": "Optional CSV of labels to add to every post. Without this param every page already carries sponsored, intent and niche, free; label= adds the labels you name to them (the defaults keep running). judgments=off (or label=none) turns the default labels off. sponsored: is the post a paid or gifted promotion (p, 0 to 1), did it carry a disclosure marker such as #ad or 광고 (disclosed), is it likely paid with no marker (undisclosed), and which of the accounts it mentions does it promote (brand, or null). These are signals to review, never a finding. mention (needs brand=): is the post about that brand rather than something that shares its name (about_brand, 0 to 1), how it feels about the brand on five levels (sentiment_level 0 to 4 and sentiment_score 0 to 1, null when the post is not about the brand), is it sarcastic, which aspect it talks about (taste_or_quality, price_or_value, availability_or_delivery, health_or_safety, advertising_or_campaign, customer_service, none), and did the author buy or use it (first_hand). intent: what the author is mainly doing (label: asking_for_recommendation, comparing_options, switching_away, complaining, promoting, news_or_discussion, other, or null when unsure, with confidence), whether they read as a potential buyer rather than a seller (buyer, seller), how pressing the need is (urgency, 0 to 3), and, when you pass offer=, whether your offer would plausibly help them (fits_offer). niche: which of the 33 niches of the published taxonomy is-niche-v1 the caption belongs to, or personal_no_niche, or other (label, confidence, taxonomy), with label null when the caption is too thin to tell or the pick is unsure. It reads the caption only, not the video. quality: how much checkable detail the caption carries (fact_density 0 to 3), whether it mainly asks for likes, replies, shares, follows or tags (engagement_bait, 0 to 1), whether it is written to provoke anger as a way to get engagement (rage_bait, 0 to 1; about the writing, never the side taken), whether it only repeats someone else's news or view (secondhand, 0 to 1), and what the post is mainly doing (post_aim: inform, opinion, sell, entertain, provoke, other). exclude=engagement_bait drops posts whose engagement_bait is 0.8 or higher. injection flags text that addresses an AI system and tries to direct it (flagged, p); it never drops or rewrites a row. A post that could not be judged carries labels: null. Posts already labelled for anyone are free. data.labels reports what was judged and billed.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude",
            "in": "query",
            "required": false,
            "description": "Optional CSV (engagement_bait), only with label=quality. Drops posts whose engagement_bait probability is 0.8 or higher and lists their ids in data.labels.dropped_ids. A post that could not be judged is never dropped.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "description": "Required by label=mention, ignored otherwise. The brand or product the posts are judged against, up to 300 characters, for example brand=Buldak. Without it label=mention is skipped with the warning label_mention_needs_brand and is not billed.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brand_description",
            "in": "query",
            "required": false,
            "description": "Optional, with label=mention. One plain sentence saying what the brand is, for example brand_description=Samyang's spicy instant noodle brand. Use it when the name is also an ordinary word or another company's name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offer",
            "in": "query",
            "required": false,
            "description": "Optional, with label=intent. One or two plain sentences saying what you sell, up to 300 characters, for example offer=A web design agency that builds websites for small businesses. Adds fits_offer to every post; without it fits_offer is null.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "label_evidence",
            "in": "query",
            "required": false,
            "description": "Optional, only with label=. When 1, every labelled row also carries computed.labels_evidence.<preset> = { quote, sentence_index }: the sentence in the row that most clearly shows the label, copied verbatim. Absent or null when no single sentence shows it.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          },
          {
            "name": "max_age_days",
            "in": "query",
            "required": false,
            "description": "Keep only rows published within this many days (`post.published_at`), 1 to 3650. A row with no date is discarded. Filtering runs on our side after each page is fetched, so every page walked is billed as usual; `data.walk.discarded` counts what was removed and why.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 3650
            }
          },
          {
            "name": "max_pages",
            "in": "query",
            "required": false,
            "description": "1 to 5 (default 1). Walk up to this many pages in one call and return the rows from all of them (after any filter). Each page walked is billed as one call to this endpoint; the whole walk counts once against your rate limit. The walk stops early at the last page, or when the request's time budget runs low; `data.walk.stopped` says why (`end`, `max_pages`, `time_budget`, `page_error`) and `data.next_cursor` continues from where it stopped.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5
            }
          },
          {
            "name": "seen",
            "in": "query",
            "required": false,
            "description": "An id you choose (1 to 64 letters, digits, `.`, `_` or `-`). Rows your account already received under the same `seen` id are removed from the page, and the page price falls with the share of repeats: page credits x new rows / rows on the page, rounded up, so a page of nothing but repeats is free. Only the page's own price is discounted: credits for joined data (`include=`) are charged only for rows you have not received, and are never discounted. Use one id across a set of related searches; `data.walk.repeats` counts what was removed.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credits": {
          "min": 20,
          "max": 180
        },
        "x-group": "Search",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/facebook/search/pages": {
      "get": {
        "operationId": "facebook_search_pages",
        "summary": "Search › Pages",
        "description": "Returns Facebook pages matching a keyword, each with page id, display name, permalink, avatar, and verified flag.\n\nUse it to find pages by name; follower counts are not on this card, so take author.url to profile for the full page.\n\n**20 credits** per call.\n\nPaginates by `cursor`: see [Pagination](/docs/pagination).",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Keyword or phrase to search for.",
            "schema": {
              "type": "string",
              "example": "NASA"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor from the previous response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location_uid",
            "in": "query",
            "required": false,
            "description": "Facebook location id to scope the search.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credits": 20,
        "x-group": "Search",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/facebook/search/people": {
      "get": {
        "operationId": "facebook_search_people",
        "summary": "Search › People",
        "description": "Returns Facebook people matching a keyword, each with profile id, display name, permalink, avatar, and verified flag.\n\nUse it to find people by name. The id is often a pfbid token, not a numeric user id, and follower counts are not on this card.\n\n**20 credits** per call.\n\nPaginates by `cursor`: see [Pagination](/docs/pagination).",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Name or phrase to search for.",
            "schema": {
              "type": "string",
              "example": "NASA"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor from the previous response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location_uid",
            "in": "query",
            "required": false,
            "description": "Facebook location id to scope the search to a city.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-credits": 20,
        "x-group": "Search",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/facebook/search/videos": {
      "get": {
        "operationId": "facebook_search_videos",
        "summary": "Search › Videos",
        "description": "Returns public Facebook videos matching a keyword, each with video id, caption, permalink, thumbnail, and author.\n\nUse it to find videos by phrase. View counts on this card are a display string and are not parsed into engagement.views.\n\n**20 credits** per call.\n\nPaginates by `cursor`: see [Pagination](/docs/pagination).",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Keyword or phrase to search for.",
            "schema": {
              "type": "string",
              "example": "NASA"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor from the previous response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Include videos on or after this date (YYYY-MM-DD).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "Include videos on or before this date (YYYY-MM-DD).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recent_videos",
            "in": "query",
            "required": false,
            "description": "When true, rank by recency instead of relevance.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "location_uid",
            "in": "query",
            "required": false,
            "description": "Facebook location id to scope the search.",
            "schema": {
              "type": "string"
            }
          }
[...]
